*{
    margin: 0;
    padding: 0;
}

body{
    height: 1080px;
    background-color: rgb(145, 208, 233);
    transition: background-color 0.5s ease;
}

nav{
    display: inline;    
}

#logo{
    height: 100px;
    padding-left: 20px;
}


header {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    transition: background-color 0.5s ease;
    background-color:rgba(32, 155, 255, 0.589);
}

.header-section {
    width: 50%;
    margin: 0 auto;
    
}

nav{
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
}

nav ul{
    list-style: none;
    cursor: pointer;
    float: right;
    margin-right: 140px;
    display: flex;
}

nav ul li{
    list-style: none;
    display: inline-block;
    color: #fff;
    font-family: 'releway', sans-serif;
    padding: 15px 15px;
    font-weight: 300;
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

.wrap{
    width:120px;
    margin-right: 20px;
    position: relative;
    border-radius: 100%;
    /* overflow: hidden; */
    z-index: 1;
}

nav ul li:hover{
    border-bottom: 3px solid #000;
    transition: all .3s ease;
}

.title{
    
    position: absolute;
    top: 25px;
    margin: auto;
    padding: auto;
    cursor: pointer;
    float: left;
    margin-left: 150px;
    font-size: 40px;
    display: flex;
}

/* Podcast */
.podcast {    
    padding: 50px 5%;
}
.podcast-audio{
    margin: 0 auto;
    text-align: center;
    font-size: 20pt;
}
.podcast-audio > img {
    width: 250px;
    height: 250px;
}

.podcast-info fieldset{
    margin: 20pt auto;
    width: 500px;
}

.podcast-info table {
    width: 500px;
    height: 130px;
}




/* Dark/light mode */
.button{
    text-align: center;
    padding : 40px;
}

.button button{
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    border:none;
    width : 80px;
    height: 40px;
}

.tombol-light{
    display: none;
    background-color: #ddd;
}
.tombol-dark{
    background-color: #666;
    color: #fff
}

/* efek gelap */
body.gelap{
    background-color: rgb(6, 58, 65);
}

.gelap header{
    background-color: rgb(24, 23, 79);
}

.gelap nav ul li{
    list-style: none;
    display: inline-block;
    color: #fff;
    font-family: 'releway', sans-serif;
    padding: 15px 15px;
    font-weight: 300;
}

* .gelap{
    color: #fff;
}

.gelap .tombol-light{
    display:inline;
}

.gelap .tombol-dark{
    display: none;
}

.gelap #contact{
    background-color: rgb(24, 23, 79);
}

.gelap h3{
    color: rgb(162, 225, 225);
}

.gelap fieldset{
    position: absolute;
    top: 20%;
    left: 40%;
    margin:0;
    color:#fcfcfc
}

.gelap table, .gelap .center{
    background-color: #092666;
}

/* footer */
#contact {
    background-color:rgba(32, 155, 255, 0.589);
    padding:10px;
}
.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.footer-section .title-foot{
    margin-top: 20%;
}
